<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /graficag_v1/graficag_sistema
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>